
*{
    margin:0;
    padding: 0;
    
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    
    overflow-x: hidden;
    overflow-y: auto;
    perspective:10px ;

     
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    transform-style: preserve-3d; /*jo 3d kaam hai use preserve  */
    z-index: -1;

}

.background{
    position:absolute;
    /* height:100%; */
    width:100%;
    z-index: -1;
    object-fit: cover;
    transform:translateZ(-39PX) scale(5); /*SEND IMAGE TO 40 PX BACK FROM 0 ORIGIN*/
}


.foreground{
    position:absolute;
     top:580px; /*height of image */
    /* width:100%; */
    z-index: -1;
    object-fit: fill;
    transform: translateZ(-15PX) scale(2.7);
    
}
.heading{
    font-size: 79px;
    margin-top: -370px;
    margin-right: 1170px;
    text-shadow:0 0 10px white;
}


section{
    background-color: rgb(183, 183, 183);
    color: black;
    padding: 5rem 1; 
    
}


.secheading{
   font-size: 4rem;
   padding: 1rem; 
   text-shadow: 0 0 10px black;
}

.text{
    position: absolute;
    font-size: 4rem;
    
    padding: 0.5rem 2.5rem;
    top:20%;
    left:40%;
}


.bg{
    position: relative;
    width: 100%;
    background-attachment:fixed;
    background-size: cover;
    height:400px;
    
}




.bg0{
    background-image: url(northern-lights-4k.jpg);
    background-position: center;
    background-size: 100rem;
    text-shadow:0 0 10px rgb(255, 255, 255);
    
}

.bg1{
    background-image:url(mountain-wallpaper.jpg);
    background-position: center;
    background-size: 100rem;
    text-shadow:0 0 10px pink;
}

.bg2{
    background-image:url(fair_moon.jpg);
    background-position: center;
    background-size: 100rem;
    text-shadow:0 0 10px white;
}

.bg3{
    background-image:url(-Lucifer-angel.jpg);
    background-position: center;
    background-size: 100rem;
    text-shadow:0 0 10px white;
}

.bg4{
    background-image:url(pxfuel.jpg);
    background-position: center;
    background-size: 100rem;
    text-shadow:0 0 10px white;
}